<div id="<%= dom_id santum %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nickname:</strong>
    <%= santum.nickname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= santum.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Give to:</strong>
    <%= santum.give_to %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= santum.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this santum", santum, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this santum', edit_santum_path(santum), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
