<div class="bg-green-900 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mt-6">
      <h1 class="text-white text-2xl font-bold mb-6">Editar Juego</h1>
      <h3 class="text-white text-2xl font-bold mb-6"><%=Time.zone.now.strftime("%A %d %B %Y") %></h3>
      
      <% if @on_going_game %>
        <%= simple_form_for @on_going_game, url: update_points_game_path(@on_going_game), html: { class: "space-y-4" } do |form| %>
          <div>
            <%= form.fields_for :player_game_results do |player_fields| %>
              <h2 class="text-lg font-bold text-white mt-6">Jugador</h2>

              <%= player_fields.collection_select :user_id, @users_with_pts, :id, :name, {}, { class: "rounded-lg py-2 px-3 w-full bg-gray-100 text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:ring-indigo-300 my-2" } %>

              <label for="Points" class="block text-lg font-bold text-white">
                Puntos
              </label>
              <%= player_fields.input :points, label: false, input_html: { class: "rounded-lg py-2 px-3 w-full text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:ring-indigo-300 mt-5", type: "number"  } %>

              <label for="draw" class="block text-lg font-bold text-white">
                Empate?
              </label>
              <%= player_fields.input :draw, label: false, input_html: { class: "py-2 px-3 mt-5", type: "boolean" } %>

              <label for="win_by_draw" class="block text-lg font-bold text-white">
                Gano el empate?
              </label>
              <%= player_fields.input :win_by_draw, label: false, input_html: { class: "py-2 px-3 mt-5", type: "boolean" } %>

              <label for="draw_with" class="block text-lg font-bold text-white">
                Con quien empato?
              </label>
              <%= player_fields.input :draw_with, label: false, input_html: { class: "py-2 px-3 mt-5", type: "input" } %>
            <% end %>
          </div>
          <div>
            <%= form.button :submit, "Update Points", class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-6 w-full" %>
          </div>
        <% end %>
      <% else %>
        <div class="flex items-center justify-center mb-5 text-white text-2xl font-bold leading-9 tracking-tight">
          Aun no hay partida
        </div>
      <% end %>
      
    </div>
  </div>
</div>
