<turbo-frame id="game-new">
  <div class="flex justify-center" data-controller="game">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <h1 class="text-black text-2xl font-bold mb-6">
       Juego
      </h1>
        <%= simple_form_for @game, url: games_path, html: { class: "space-y-4", data: { action: 'submit->game#displayGame'} } do |form| %>
          <div>
            <label for="date" class="block text-lg font-bold text-black">
              Fecha
            </label>
            <%= form.input :date, label: false, input_html: { class: 'rounded-lg', type: 'date' } %>
          </div>

          <a id="toggleBtn"
            class="inline-flex items-center text-med text-black cursor-pointer hover:underline"
            data-game-target="addPlayerBtn" 
            data-action="click->game#displayUserForm">
            <div class="mt-5 mb-5 p-3 bg-gray-200 rounded-lg">
              Escoger Jugadores <i class="fas fa-chevron-right ml-5" data-game-target="chevron"></i>
            </div>
          </a>
  
          <div class="hidden" data-game-target="playersDiv">
            <h2 class="text-lg font-bold text-black mt-3">Jugadores</h2>
            <div class="grid grid-cols-2 gap-4">
              <%= form.fields_for :player_game_results do |player_fields| %>
                <% User.all.each do |user| %>
                  <div class="flex items-center text-black text-lg">
                    <%= form.check_box :user_ids, { multiple: true, class: 'rounded-lg' }, user.id, nil %>
                    <%= label_tag nil, user.name, class: "ml-2" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <div>
            <label for="tournament" class="block text-lg font-bold text-black">
              Torneo o Juego Amistoso
            </label>
            <%= form.input :tournament_id, collection: Tournament.all, label: false, value_method: :id, include_blank: "Juego amistoso", input_html: { class: 'rounded-lg' } %>
          </div>
          <div>
            <%= button_tag 'Crear juego', 
              type:'submit',
              class: 'w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800',
              data: { tournament_target: 'btnCreate' } 
            %>
          </div>
        <% end %>
    </div>
  </div>
</turbo-frame>
