<div class="bg-green-900 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="text-white text-2xl font-bold mb-6">
      <%= Date.today.strftime("%A %d %B %Y") %>
    </h1>
    <div class="mt-6">

      <%= simple_form_for @game, url: games_path, html: { class: "space-y-4" } do |form| %>
      <div>
        <label for="date" class="block text-lg font-bold text-white">
          Fecha
        </label>
        <%= form.input :date, label: false, input_html: { class: 'rounded-lg', type: 'date' } %>
      </div>
      <div>
        <label for="tournament" class="block text-lg font-bold text-white">
          Torneo o Juego Amistoso
        </label>
        <%= form.input :tournament_id, collection: Tournament.all, label: false, value_method: :id, include_blank: "Juego amistoso" %>
      </div>
      <div>
        <h2 class="text-lg font-bold text-white mt-3">Jugadores</h2>
        <div class="grid grid-cols-2 gap-4">
          <% User.all.each do |user| %>
            <div class="flex items-center text-white text-lg">
              <%= check_box_tag "game[player_game_results_attributes][][user_id][]", user.id, false, class: "rounded-lg" %>
              <%= label_tag nil, user.name, class: "ml-2" %>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <%= form.button :submit, "Submit", class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-6 w-full" %>
      </div>
    <% end %>
    
    </div>
  </div>
</div>
