<div class="flex items-center justify-center mb-5 text-red-900 text-2xl font-bold leading-9 tracking-tight">
  <p class="text-center">
    <%= tournament_name(@game) %> <br> <%= Date.today.strftime("%A %d %B %Y") %>
  </p>
</div>
<div class="flex items-center justify-center mb-10">
  <div class="w-1/2">
    <div class="relative overflow-x-auto">
      <% if @game %>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3"></th>
                <th scope="col" class="px-6 py-3">Puntos</th>
                <th scope="col" class="px-6 py-3">Empate</th>
                <th scope="col" class="px-6 py-3">Empate Ganado</th>
                <th scope="col" class="px-6 py-3">Lugar</th>
              </tr>
          </thead>
          <tbody>
            <% @game.player_game_results.order(points: :desc).each.with_index(1) do |player_game_result, index| %>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= player_game_result.user.name %>
                </td>
                <td class="px-6 py-4">
                  <%= player_game_result.points %>
                </td>
                <td class="px-6 py-4">
                  <%= boolean_answer player_game_result.draw %>
                </td>
                <td class="px-6 py-4">
                  <%= boolean_answer player_game_result.win_by_draw %>
                </td>
                <td class="px-6 py-4">
                  <%= places_icons index %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <h2>
            <%= link_to 'Editar puntos -->', edit_points_game_path(@on_going_game), class: "text-black text-sm font-medium mt-4 block text-center" %>
          </h2>
        </div>
      <% else %>
        <div class="flex items-center justify-center mb-5 text-red-900 text-2xl font-bold leading-9 tracking-tight">
          Aun no hay partida
        </div>
        <div class="flex justify-center">
          <%= link_to new_game_path, class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
            Crear partida
            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          <% end %>
        </div>
      <% end %>
    </div>      
  </div>
</div>