<div class="flex items-center justify-center mb-5 text-red-900 text-2xl font-bold leading-9 tracking-tight">
  <p class="text-center">
    <%= tournament_name(@game) %> <br> <%= Date.today.strftime("%A %d %B %Y") %>
  </p>
</div>
<div class="flex items-center justify-center mb-10">
  <div class="w-1/2">
    <div class="relative overflow-x-auto">
      <% if @game %>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3"></th>
                <th scope="col" class="px-6 py-3">Puntos</th>
                <th scope="col" class="px-6 py-3">Empate</th>
                <th scope="col" class="px-6 py-3">Empate Ganado</th>
                <th scope="col" class="px-6 py-3">Lugar</th>
              </tr>
          </thead>
          <tbody>
            <% @game.player_game_results.order(points: :desc).each.with_index(1) do |player_game_result, index| %>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= player_game_result.user.name %>
                </td>
                <td class="px-6 py-4">
                  <%= player_game_result.points %>
                </td>
                <td class="px-6 py-4">
                  <%= boolean_answer player_game_result.draw %>
                </td>
                <td class="px-6 py-4">
                  <%= boolean_answer player_game_result.win_by_draw %>
                </td>
                <td class="px-6 py-4">
                  <%= places_icons index %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <h2>
            <%= link_to 'Editar puntos -->', edit_points_game_path(@on_going_game), class: "text-black text-sm font-medium mt-4 block text-center" %>
          </h2>
        </div>
      <% else %>
        <div class="flex items-center justify-center mb-5 text-red-900 text-2xl font-bold leading-9 tracking-tight">
          Aun no hay partida
        </div>
      <% end %>
    </div>      
  </div>
</div>