<div class="bg-green-900 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mt-6">
      <h1 class="text-white text-2xl font-bold mb-6">Edit <%=Time.zone.now.strftime("%A %d %B %Y") %></h1>
      <%= simple_form_for @match_to_edit, url: update_points_match_path(@match_to_edit), html: { class: "space-y-4" } do |form| %>
        <%= form.hidden_field :date, value: @match_to_edit.date %>
        <div>
          <%= form.fields_for :player_match_results do |player_fields| %>
            <h2 class="text-lg font-bold text-white mt-6">Jugador</h2>
            <%= player_fields.collection_select :user_id, @users_with_pts, :id, :name, {}, { class: "rounded-lg py-2 px-3 w-full bg-gray-100 text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:ring-indigo-300 my-2" } %>
            <label for="Points" class="block text-lg font-bold text-white">
              Canastas
            </label>
            <%= player_fields.input :points, label: false, input_html: { class: "rounded-lg py-2 px-3 w-full text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:ring-indigo-300 mt-5", type: "number"  } %>
          <% end %>
        </div>
        <div>
          <%= form.button :submit, "Update Points", class: "bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-6 w-full" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
