<%= form_with(model: member, class: "contents") do |form| %>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label 'Hobbies' %>
    <%= form.text_field :hobbies, size: 50, value: '',
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" 
    %>
  </div>

  <div class="my-5">
    <%= form.label 'Interests' %>
    <%= form.text_field :interests, size: 50, value: '',
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" 
    %>
  </div>

  <div class="inline">
    <%= form.submit 'New Santa', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
