<div id="<%= dom_id member %>">
  <div class="card h-auto bg-green-900 pt-3 m-4">
    <div class="px-6 py-6 pb-0">
      <%= image_tag "https://placeimg.com/128/128/people?q=1", class:"rounded-full mx-auto block mb-3 -mt-6 shadow-md", alt: "people" %>
    </div>

    <div class="bg-red-900 pt-3">
      <div class="text-center text-white text-xl mb-2"><%= member.nickname %></div>
      <div class="text-center text-white"><%= member.email %></div>
      <hr class="my-2 mx-auto w-48 h-1 bg-gray-100 rounded border-0 md:my-5 dark:bg-gray-700">
      <div class="text-center mb-4">
        <div class="text-center text-white mb-4">Interests:</div>
        <span class="text-white px-1">&bullet; <%= member.interests["activity"] unless member.interests.nil?%></span>
        <span class="text-white px-1">&bullet; <%= member.interests["activity_2"] unless member.interests.nil?%></span>
      </div>
    </div>
    <% if action_name != "show" %>
      <div class="bg-green-900 text-center px-1">
        <%= link_to "View Profile", member, class: "bg-red-900 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" %>
        <%= link_to 'Edit Member', edit_member_path(member), class: "bg-red-900 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" %>
      </div>
    <% end %>
    <div class="bg-green-900">
      <hr class="my-2 mx-auto w-48 h-1 bg-green-900 rounded border-0 md:my-5 dark:bg-green-900">
    </div>
  </div>
</div>
